body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #EDEDED;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo-container img {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    border-radius: 50%;
}

h2 {
    font-weight: bold;    
    color: #68B8CE;          
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #000;
}

.login-button {
    padding: 10px 20px;
    background-color: #68B8CE;
    border-radius: 5px;
}

.login-button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.login-button:hover {
    background-color: #57a1bc; /* Slightly darker for hover effect */
}

.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    margin-left: 100px;
}

.contact-info, .contact-form {
    width: 48%; 
}

.contact-details ul {
    list-style: none;
    padding: 0;
}

.contact-details ul li, .contact-details button {
    margin-bottom: 10px;
}

.contact-details button {
    padding: 10px 20px;
    background-color: #68B8CE;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.contact-details button:hover {
    background-color: #57a1bc;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #68B8CE;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #57a1bc;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column; /* Alinha os links verticalmente */
        align-items: center;
    }
    .contact-container {
        flex-direction: column;
        margin-left: 35px;
        padding: 0 15px;
    }

    .contact-info, .contact-form {
        width: 100%;
    }

    .map iframe {
        height: 180px; /* Reduz ainda mais a altura do mapa para adequar-se a telas muito pequenas */
        width: 90%;
    }
}
