body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: #EDEDED;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo-container img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #000;
}

.login-button {
    padding: 10px 20px;
    background-color: #68B8CE;
    border-radius: 5px;
}

.login-button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.login-button:hover {
    background-color: #57a1bc;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 90vh; /* Ensures content section takes up the majority of the viewport height */
}

.text-section {
    flex: 1;
    text-align: center;
    margin-top: -70px;
    margin-left: 200px; /* Isso pode ser muito para telas pequenas */
}

.text-section h1 {
    font-size: 48px; /* Tamanho maior do texto */
    font-weight: bold; /* Texto em negrito */
    font-family: 'Inika', serif; /* Usando a fonte Inika */
    color: #333;
    margin-bottom: 20px;
}


.text-section button {
    background-color: #68B8CE;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 18px; /* Larger button text */
    border-radius: 30px;
    border: 2px solid #000000;
   
}

.text-section button:hover {
    background-color: #57a1bc;
}

.text-section p {
    font-size: 20px; /* Tamanho do texto */
    color: #666; /* Cor do texto */
    margin-bottom: 1px; /* Reduz o espaço abaixo de cada parágrafo */
}


.image-section {
    flex: 1;
    text-align: center;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}




/* Responsive adjustments */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column; /* Alinha os links verticalmente */
        align-items: center;
    }

    .text-section {
        margin: 0 10px; /* Reduz a margem para pequenas telas */
        text-align: left; /* Alinhamento do texto */
    }

    .content {
        flex-direction: column; /* Empilha imagem e texto verticalmente */
    }

    .image-section img {
        margin-top: 20px; /* Adiciona espaço entre o texto e a imagem */
    }
}
